@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-text:#cdc6c3;
    --hover-color: #70efbf;
    --neon-box-shadow: 0 0 .5rem #70efbf;
    --index: calc(1vw + 1vh);
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: #000;
}

::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;
}
body{
    font-family: "Outfit",sans-serif;
    background-image: url(/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

*{
    color:#fff;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 12%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    display:flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 600;
    font-size: 22px;
    color: var(--hover-color);
}

.logo img{
    max-width: 100%;
    width: 40px;
    height: auto;
}


header .navlist{
    display: flex;
}

.navlist li{
    margin: 0 1.5rem;
}

.navlist li .nav-item{
    position: relative;
    padding: 5px 0;
    font-weight: 700;
    font-size: 1.1rem;
    transition: all .2s ease;
}

.navlist li .nav-item:hover{
    color: var(--hover-color);
}

.navlist li .nav-item::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: var(--hover-color);
    border-radius: 50%;
    transition: all .3s ease;;
}

.navlist li .nav-item:hover::before{
    width: 100%;
}

.navlist li .active{
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}

.right-side{
    display: flex;
    align-items: center;
}

.marsBtn{
    background: linear-gradient(180deg, #70efbf 0, #21e69a 100%);
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    padding: 0 20px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .2s ease;
    white-space: nowrap;
    display: inline-block;
}

.marsBtn:hover{
    background: linear-gradient(180deg, #70efbf 0,#21e69a 100%);
    box-shadow: 0 3px 9px #25b981;
}

#menu-icon{
    color: var(--hover-color);
    font-size: 2.5rem;
    display: none;
}

section{
    padding: 100px 12%;
}

/*Home section CSS*/
.home-img img.hero{
    max-width: 100%;
    position: absolute;
    left: 80%;
    margin-top: 20%;
    opacity: 100;
    background-attachment: fixed;
    width: 200px;
    height: auto;
    /* animation: floatImg 6s ease-in-out infinite; */
}

.home-img img.moon-light{
    left: -90%;
    top:140%;
}
.earth-rotate img.earth{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -1;
    width: calc(var(--index)*45);
    /* animation: rotate 300s infinite linear; */
    background-attachment: fixed;
}

.home{
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2 , 1fr);
    color: #fff;
    width: 100%;
}

.home-text h1,h2{
    font-size: calc(var(--index)*2);
    margin-bottom: 1rem;
    font-weight: 800;
    text-shadow: 1px 1px 1px #474747;
}

.home-text .marsBtn{
    margin-top: 1rem;
    height: 35px;
    line-height: 35px;
}

span{
    color: var(--hover-color);
}

.home-img{
    position:relative;
}

img.moon-light{
    position: absolute;
    left:0;
    mix-blend-mode: screen;
    width: 90px;
}

/* Techno list css */

.techno-list{
    position: relative;
}

.techno-list .container{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.container .techno-box{
    width: 300px;
    padding: 2rem 1.5rem 2rem;
    text-align: center;
    background-image: url("/card4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    color:#fff;
    z-index:2;
    margin: 2rem 2rem;
}

.techno-box img{
    width: 300px;
    margin: -4rem auto 0 auto;
    animation: floatImg 6s ease-in-out infinite;
    filter: drop-shadow(0 0 .5rem #179577);
}

.container .flight-box h2{
    color: var(--hover-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.flight-box p{
    color: #dddcdc;
    line-height: 1.5rem;
    font-size: .9rem;
}

 .marsBtn{
    margin-top: 1rem;
    height: 32px;
    line-height: 32px;
    color:#000;
    font-size: 1rem;
    font-weight: 700;
}

/* mission css */

.rocket img{
    width: 350px;
    height: auto;
}




@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes floatImg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-14px);
    }
    100%{
        transform: translateY(0);
    }
}